name: Python Package using Conda

on:
  push:
  pull_request:
  workflow_dispatch:  # Enables manual triggering
  schedule:
    - cron: '0 0 2 * *'  # Runs at 00:00 UTC on the 2nd day of every month

jobs:
  notebooks:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
         python -m pip install -U pip
         python -m pip install -U -r requirements.txt
         python -m pip install .
      - name: Run term_info_queries_test
        env:
          VFBQUERY_CACHE_ENABLED: 'false'
          MPLBACKEND: 'Agg'
          VISPY_GL_LIB: 'osmesa'
          VISPY_USE_EGL: '0'
        run: |
          export PYTHONPATH=$PYTHONPATH:$PWD/
          python -m unittest -v src/test/term_info_queries_test.py
