name: Python Package using Conda

on: [push]

jobs:
  notebooks:
    name: "Run Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
         python -m pip install -U pip
         python -m pip install -r requirements.txt
      - name: Run term_info_queries_test
        run: |
          export PYTHONPATH=$PYTHONPATH:$PWD/
          python -m unittest -v src/test/term_info_queries_test.py
